/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&family=Kumar+One+Outline&display=swap');
@import url('https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

:root {
    /* ===== Colors ===== */
    --body-color: #d3d4cd;
    --sidebar-color: #e8eae3;
    --primary-color: #fa2742;
    --hover-color: #80808080;
    --selected-hover-color: #f8546a;
    --text-color: #373833;
    --change-btn: #2dd42d;
    --remove-btn: #e43d53;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body.dark {
    --body-color: #19212a;
    --sidebar-color: #1d2228;
    --primary-color: #fb8122;
    --hover-color: #80808080;
    --selected-hover-color: #f79951;
    --text-color: #e1e2e2;
}